<div class="flex my-5">
  <div>
    <%= link_to "Back", restaurant_menus_path(@restaurant), class: "p-3 border mr-3" %>
  </div>
  <div>
    <%= link_to "Edit", edit_restaurant_menu_path(@restaurant, @menu), class: "p-3 border mr-3"%>
  </div>
  <div>
    <%= link_to "Delete", restaurant_menu_path(@restaurant, @menu), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "p-3 border"%>
  </div>
</div>



<div>
<h1 class="text-2xl">Display Menu name and menu items</h1>

<%= render 'join_menus/show', menu: @menu, join_menus: @join_menus %>
<div>
