<h1>This is the table checkout page</h1>
<% table_price = 5 %>

<% @table_order.order_items.each do |order| %>
  <% table_price += order.menu_item.price %>
<% end %>
<%= table_price %>

<button class="btn btn-primary" id="pay">Checkout</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @table_order.checkout_session_id %>'
          });
        });
      </script>
