<div class="container h-screen">

  <div class="tick grid place-items-center h-1/3">
    <p class="text-3xl "><%= @restaurant.name %></P>
    <i class="tick-icon fa-solid fa-circle-check text-7xl"></i>
  </div>

  <div class="h-1/2">
    <div class="justify-between">
      <h1 class="text-4xl mt-5 text-center">Payment success!</h1>
    </div>

    <div class="flex justify-center items-center bottom-0 my-8 mt-5 h-1/4">
      <p class="text-xl text-center">Thank you for dining with us. We hope to see you again soon</p>
    </div>

    <div class="flex justify-center">
      <p>Share Your Experience</p>
    </div>

    <div class="flex justify-center">
      <i class="fa-brands fa-facebook text-2xl"></i>
      <i class="fa-brands fa-twitter text-2xl"></i>
      <i class="fa-brands fa-instagram text-2xl"></i>
    </div>
  </div>
</div>
