<% menu_items.each do |item| %>
  <div class="mt-3 border p-3">
    <h2><%= item.name %><span class="ml-3">$<%= item.price %></span></h2>
    <p><%= item.category %></p>
    <p><%= item.description %></p>
  </div>
<% end %>
