<h1 class="text-4xl">This is supposed to be menu-items page</h1>
<h2 class="text-2xl">The menu items page will display the menue items on the left and a list of menus on the right to drag and drop menu items to the right menu</h2>

<div class="flex flex-wrap mt-5">
  <% @menu_item.each do |item| %>
  <%= item.name %>
  <%# <%= item.description %>
  <%= item.name %>
  <%= item.price %>
  <% end %>
</div>
