

<div class="qr-container flex flex-wrap justify-between">
  <% @qr_codes.each do |k, v| %>
  <p> Table number <%= k %> </p>
  <%= v.html_safe %>
  <% end %>
</div>




<%# <% @qr_codes.each do |code| %>
<%# <%= code.html_safe%>
<%# <% end %>
