<%# Landing page %>

  <div class="container bg-gradient-to-r from-cyan-500 to-blue-500 h-screen flex flex-col items-center justify-end">
    <div class="justify-between">
    </div>
    <div >
      <h1 class="text-5xl mt-5 text-white"><%= @table.restaurant.name %></h1>
    </div>

    <div class="flex justify-between">
    <button class="btn btn-blue">Start your order!</button>
    </div>

  </div>
