.btn.btn-outline-dark {
  color: black;
  &:hover {
    color: white;
    background: black;
  }
}

.btn-outline-dark.active {
  color: white;
  background: black;
  &:hover {
    color: white;
    background: black;
  }
}

.height682 {
  height: 682px;
}
