<%= link_to restaurant_path(restaurant) do %>
  <div>
    <img src=<%= "https://source.unsplash.com/random/220x200/?restaurant-#{restaurant.name}" %> class="d-block rounded-2xl" alt="restaurant image">
    <h1 class="text-xl text-center mt-3"><%= restaurant.name %></h1>
  </div>
<% end %>
