<div class="page-container h-screen">
  <h1 class="text-3xl text-center mt-12">My Restaurants</h1>
  <div class="flex flex-wrap gap-12 justify-center mt-12">
    <%= render "restaurants/list", restaurants: @restaurants %>
  </div>
</div>
