<div class="flex flex-wrap justify-around p-3">
  <% @food_tickets.each do |food_ticket| %>
    <div style="width:25%" class="border py-1 px-3 mr-1 mb-3">
      <%= render "order_items/show", item: food_ticket %>
    </div>
  <% end %>
</div>
