<div class="page-container">
  <div class="flex flex-wrap justify-around">
    <% @food_tickets.each do |food_ticket| %>
      <div class="w-80 p-8 m-3 bg-white rounded-lg">
        <%= render "order_items/show", item: food_ticket %>
      </div>
    <% end %>
  </div>
</div>
