<div class="page-container pt-8">

  <div class="flex justify-between items-center">
    <div class="flex justify-start w-48">
      <%= link_to restaurants_path do %>
        <h2>My Restaurants</h2>
      <% end %>
    </div>
    <div class="flex justify-center items-center">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="btn btn-outline-dark active" id="pills-restaurant-tab" data-bs-toggle="pill" data-bs-target="#pills-restaurant" type="button" role="tab" aria-controls="pills-restaurant" aria-selected="true">RESTAURANT INFO</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn btn-outline-dark" id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu" type="button" role="tab" aria-controls="pills-menu" aria-selected="false">MENU INFO</button>
        </li>
      </ul>
    </div>
    <div class="flex justify-end w-48">
      <button class="rounded-full">Logout</button>
    </div>
  </div>

  <div class="tab-content" id="pills-tabContent">
    <div class="py-8 tab-pane fade show active" id="pills-restaurant" role="tabpanel" aria-labelledby="pills-restaurant-tab">
      <%= render "restaurants/info", restaurant: @restaurant %>
    </div>
    <div class="py-8 tab-pane fade" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">
      <%= render "menus/index", restaurant: @restaurant, menus: @restaurant.menus %>
    </div>
  </div>

</div>
