<div class="scroll-container overflow-auto ml-5">
  <% categories = ["Starters", "Mains", "Breakfast", "Lunch", "Dinner", "Desserts", "Drinks"] %>
  <% categories.each do |category| %>
    <% menu = @menu.menu_items.select { |item| item.category == category } %>
    <h3 class="text-lg font-bold mb-3 mt-8"><%= category %></h3>
    <%= render "order_items/item", menu: menu %>
  <% end %>
</div>
